@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

.main:hover .image {
    opacity: 0.3;
}

.main:hover .p-btn {
    opacity: 1;
}

.small-button {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 768px) {
    .main:hover .image {
      opacity: 1;
    }

    .main:hover .small-button {
      display: none;
    }
}